<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static',filename='js/jquery-3.6.0.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
</head>
<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-2 column">
		</div>
		<div class="col-md-8 column">
			<h3 class="text-center">
				Webの説明
			</h3>
			<p class="text-center lead">
				 このWebはまだサーバーに配置されていません。<br>
                今は代理サーバ（transparent proxyで）経由して、<br>
                サーバへのアクセスを自分のパソコンに転送したものです。<br>
                実際、このWEBは私のパソコンに作動しています。<br>
                ドメインの「caiji」（中国語は菜鸡）はゲーム下手の人の意味で、<br>
                大学時代、ルームメイトと一緒に買ったものですが、<br>
                いま私だけ使っています。<br>
                ーーーーーーーーーーーーーーーーーーーーーーー<br>
                3/25更新：<br>
                POST　→　AJAX<br>
                JSONファイル　→　JSON（内容をWEBで更新できる）<br>
                JSで書く　→　全部Pythonに任せ、HTMLを生成し、展示内容を更新<br>
                適用性アップ<br>
                図の右下に座標追加<br>
                Lhantのツール<br>
                テスト１は超簡単な展示用画像<br>
                テスト２はトランスクリティカル分岐<br>
{#                &nbsp;&nbsp;&nbsp;&nbsp;ツール１を使ってください<br>#}
                ツール１WEBで方程式の図を書く<br>


			</p>
		</div>
		<div class="col-md-2 column">
		</div>
	</div>
</div>
</body>
</html>